.header {
  width: 100%;
  min-height: 508px;
  box-sizing: border-box;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  font-family: 'Raleway';
  color: #fff;
  margin-bottom: 20px;
  z-index: 2;
  -webkit-clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
  clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 508px;
    z-index: -100;
    background: url('../img/pie.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(7px);
  }
}

.header__logo {
  width: 86%;
  margin: 20px 7% -10px;
}

.header__item {
  display: flex;
  justify-content: center;
  &--big {
    position: relative;
    margin-bottom: 10px;
  }
  &--first {
    margin-bottom: 180px;
  }
  &--mobilehidden {
    display: none;
  }
}

.header__button {
  position: absolute;
  margin: -85px -85px;
  width: 170px;
  height: 170px;
  display: inline-block;
  text-align: center;
  left: 50%;
  top: 240px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: -5px 5px 10px rgba(0,0,0,0.2);
  transition: box-shadow .1s;
  z-index: 10;
  &::before {
    content: '';
    display: block;
    position: absolute;
    background: black;
    width: 250%;
    height: 250%;
    left: -50%;
    top: -50%;
    z-index: -1;
    background: #1cb3b8;
    background: linear-gradient(to left, #1cb3b8, #10ecf4, #10f4ac, #10f4ac);
    transform: rotate(65deg);
    transition: background 0.5s ease-out;
  }
  &:hover::before {
    transform: rotate(65deg);
    transition: background 0.5s ease-out;
    background-position: -70px;
  }
  &:focus::before {
    transform: rotate(65deg);
    transition: background 0.5s ease-out;
    background-position: -70px;
  }
  &:active {
    box-shadow: -2px 2px 5px rgba(0,0,0,0.2);
    transition: box-shadow .1s;
  }
}

.header__button--desktop {
  display: none;
}

.header__buttonlink {
  text-decoration: none;
  display: block;
  width: 80%;
  padding: 35px 10%;
  color: #fff;
  font-size: 40px;
  border-radius: 20px;
}

.header__text {
  text-align: center;
  font-size: 18px;
  padding: 0 20%;
}

.header__text--big {
  padding: 0 10%;
  font-size: 24px;
}

.header__link {
  position: relative;
}

.header__title {
  position: absolute;
  top: -1000px;
}

@media (min-height: 736px) {
  .header {
    min-height: 680px;
    &::before {
      height: 680px;
    }
  }

  .header__logo {
    margin-top: 110px;
  }

  .header__item {
    &--first {
      margin-bottom: 260px;
    }
  }

  .header__button {
    top: 360px;
  }
}

@media (min-width: 768px) {
  .header {
    min-height: 980px;
    padding: 0 3%;
    &::before {
      height: 980px;
    }
    &::after {
      min-height: 700px;
      width: 60%;
      content: '';
      position: absolute;
      display: block;
      right: -70px;
      top: 200px;
      background: url('../img/ruka.png');
      background-size: cover;
    }
  }

  .header__logo {
    width: 450px;
    height: auto;
    margin: 80px 0 -20px 0px;
  }

  .header__text {
    padding: 0;
    text-align: left;
    font-size: 18px;
  }

  .header__item--first .header__text {
    font-size: 22px;
  }

  .header__text--big {
    margin: 0;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100px;
      height: 2px;
      background: white;
      left: 0;
      top: -15px;
    }
  }

  .header__item {
    justify-content: flex-start;
    width: 40%;
    padding: 0;
    padding-left: 3%;
    margin-bottom: 10px;
    &--first {
      margin-bottom: 150px;
    }
    &--mobilehidden {
      display: block;
    }
  }

  .header__button {
    display: none;
  }

  .header__button--desktop {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: 20px;
    padding-left: 2%;
    width: 40%;
    height: 36px;
    overflow: visible;
    box-shadow: none;
    &::before {
      display: none;
    }
    &:active {
      box-shadow: none;
    }
  }

  .header__link {
    text-decoration: none;
    position: relative;
    color: white;
    margin: 0;
    width: 122px;
    font-size: 0;
    height: 36px;
    display: inline-block;
  }

  .header__link--appstore::after {
    content: '';
    display: block;
    width: 122px;
    height: 36px;
    background: url('../img/appstore.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
  }

  .header__link--playmarket::after {
    content: '';
    display: block;
    width: 122px;
    height: 36px;
    background: url('../img/google.png');
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    z-index: -1;
    position: absolute;
  }

  .header__contextlink {
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background: white;
      bottom: 0;
      left: 0;
    }
  }
}


@media (min-height: 1024px) {
  .header {
    min-height: 950px;
    &::before {
      height: 950px;
    }
    &::after {
      top: 200px;
    }
  }

  .header__logo {
    margin-top: 80px;
  }

  .header__item {
    &--first {
      margin-bottom: 260px;
    }
  }
}

@media (min-height: 1366px) {
  .header {
    min-height: 1280px;
    &::before {
      height: 1280px;
    }
    &::after {
      top: 300px;
    }
  }

  .header__logo {
    margin-top: 100px;
  }

  .header__item {
    &--first {
      margin-bottom: 460px;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    &::after {
      right: -100px;
      width: 70%;
    }
  }
}

@media (min-width: 1920px) {
  .header {
    &::after {
      width: 800px;
      height: 850px;
      top: 50px;
      right: -10px;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(-10deg);
    }
  }
}
